*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
    
    .navbar{
        width: 85%;
        margin: auto;
        padding: 35px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .logo{
        width: 120px;
        cursor: pointer;   
    }
    .navbar ul li{
        list-style: none;
        display: inline-block;
        margin: 0 20px; 
    }
   .content{
       text-align: center;
       color: black;
   }